services:
  pocketbase:
    image: ghcr.io/vija02/zero:main
    container_name: zero
    restart: unless-stopped
    env_file: .env
    networks:
      - caddy
    volumes:
      - ./pb_data:/pb_data
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8090/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    labels:
      caddy: zero.michaelsalim.co.uk
      caddy.reverse_proxy: "{{upstreams 8090}}"
      caddy.reverse_proxy.transport: "http"
      caddy.request_body.max_size: "50MB"

networks:
  caddy:
    external: true
