services:
  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: zero
    restart: unless-stopped
    env_file: .env
    ports:
      - 8090:8090
    volumes:
      - ./pb_data:/pb_data
      - ./pb_migrations:/pb_migrations
      - ./pb_hooks:/pb_hooks
      - ./frontend/dist:/pb_public
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8090/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
